@import url('https://fonts.googleapis.com/css2?family=Sora:wght@200;400;500&display=swap');

/* Reset some default styles */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

* {
    box-sizing: border-box;
}

/* Add some styles for body*/
body {
    min-height: 100vh;
    max-width: 1280px;
    margin-top: 164px;
    background: #FAFAF9;
    font-family: 'Sora', sans-serif;
}

main {
    display: flex;
    justify-content: center;
    text-align: unset;
}

img {
    border-radius: 11px;
    max-width: 336px;
    max-height: 152px;
}

p {
    padding: 0 0 20px;
}

hr {
    margin-left: -16px;
    width: 368px;
    background-color: #E5EAF0;
    border: none;
    height: 1px;
}

span { 
    padding: 10px 0 0;
}

.card {
    width: 368px;
    height: auto;
    background-color: #FFFFFF;
    padding: 16px 16px 20px;
    box-shadow: 0px 30px 100px 0px rgba(17, 23, 41, 0.05);
    border-radius: 11px;
}

.card-body {
    font-size: 14px;
    font-size: 0.875rem;
    color: #6C727F;
}

.card-tag {
    font-size: 12px;
    font-size: 0.75rem;
    color: #883AE1;
    padding: 16px 0;
    display: inline-block;
}

.card-title {
    font-size: 18px;
    font-size: 1.125rem;
    color: #20293A;
    padding: 0 0 6px;
}

.tag {
    border-radius: 18px;
    background-color: #E6D6FC;
    padding: 6px 16px;
    width: auto;
}